* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Mono", monospace;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f9f9;
    transition: background-color 0.4s;
}

.dark-mode {
    background-color: black !important;
    color: white;
}

.dark-text {
    color: rgb(0, 234, 255) !important;
}

#authPage {
    width: 100%;
    height: 100vh;
    background-image: url(images/il_fullxfull.4198703224_sun3.webp);
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#authPage .formsDiv {
    width: 80%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.858);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    text-transform: uppercase;
}

#authPage form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:25px;
}

.formsDiv h1 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
    width: 100%;
    text-align: center;
}

#authPage form input {
    padding: 8px;
    border-radius: 8px;
    width: 250px;
}

#authPage h2 {
    font-size: 15px;
    margin: 10px 0px;
}

#authPage button {
    padding: 8px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
}

#regBtn {
    background-color: #415a77;
    color: white;
}

#regBtn:hover {
    background-color: #457b9d;
}

#logBtn {
    background-color: #3a5a40;
    color: white;
}

#logBtn:hover {
    background-color: #588157;
}

nav {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    text-transform: uppercase;
    box-shadow: 1px 1px 1px #b2b2b2;
}

@media screen and (max-width: 600px) {
    nav {
      grid-template-columns: max-content 60px;
      grid-template-rows: auto auto;
      row-gap: 0.5rem;
      grid-template-areas: 
        "accIcon switch"
        "navUl navUl";
    }
  
    #accIcon {
      grid-area: accIcon;
    }
  
    .navUl {
      grid-area: navUl;
      justify-content: start;
    }
  
    .switch {
      grid-area: switch;
    }
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #5200EE;
    font-weight: 500;
}

.switchBtn {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 20px;
}

.switchBtn input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1897ae4d;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 0px;
    bottom: -4px;
    background-color: #126688;
    -webkit-transition: .4s;
    transition: .4s;
    background-image: url(images/8680097_sun_line_icon.png);
    background-position: center center;
    background-repeat: no-repeat;
}
  
input:checked + .slider {
    background-color: #14dffeac;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #12bed8;
    background-image: url(images/9025835_moon_stars_icon.png);
    background-position: center center;
    background-repeat: no-repeat;
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

#accBtns {
    display: flex;
    align-items: center;
    gap: 10px;
}

#accBtns img {
    cursor: pointer;
}

#accIcon {
    text-decoration: none;
    color: #5200EE;
    font-size: 17px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

header {
    height: 50vh;
    background-image: url(images/wavy-minimal-9m.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 31%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#taskForm {
    width: 90%;
    height: 85%;
    background-color: #00000098;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    text-transform: uppercase;
    font-weight: 550;
}

#taskForm div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: white;
    gap: 5px;
    width: 100%;
    padding: 0px 20px;
}

#itemTitle {
    width: 50%;
    padding: 8px;
    border-radius: 5px;
    font-size: 15px;
    background-color: #cee2e5;
}

textarea {
    resize: none;
    font-size: 15px;
}

#itemDescription {
    width: 80%;
    padding: 8px;
    border-radius: 5px;
    background-color: #cee2e5;
}

@media screen and (max-width: 500px) {
    #itemTitle, #itemDescription {
        width: 100%;
    }
}

button {
    border-radius: 5px;
    padding: 7px 25px;
    text-transform: uppercase;
    font-weight: 550;
    border: none;
}

#addbtn {
    background-color: #1ecdec;
}

#addbtn:hover {
    background-color: #26e2ad;
}

#todoDiv, #progressDiv, #doneDiv {
    flex-grow: 1;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 5px;
    border: 1.5px solid gray;
    box-shadow: 0px 0px 5px rgb(184, 183, 183);
}

#todoDiv h1, #progressDiv h1, #doneDiv h1 {
    text-transform: uppercase;
}

#todoDiv h1 {
    color: #2590e8;
}

#progressDiv h1 {
    color: #7161EF;
}

#doneDiv h1 {
    color: #18c92c;
}

#tasksSectionsDiv div {
    margin: 20px 0px;
}

#tasksSectionsDiv ul {
    list-style: none;
}

#tasksSectionsDiv ul li {
    border-bottom: 1px solid grey;
    padding: 10px 0px;
}

#tasksSectionsDiv ul li span {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

#tasksSectionsDiv h2 {
    font-size: 18px;
    display: inline;
}

.task.done {
    text-decoration: line-through;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

#formContainer{
    background: white; 
    padding: 20px; 
    border: 1px solid #ccc; 
    width: 70%;
    height: 50%;
    margin: 100px auto;
    text-transform: uppercase;
    border-radius: 5px;
}

#modalForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#editTitle {
    width: 40%;
    padding: 8px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 15px;
    background-color: #e4ecee;
}

#editDescription {
    width: 80%;
    padding: 0px 5px;
    border-radius: 5px;
    margin-top: 5px;
    padding: 8px;
    font-size: 15px;
    background-color: #e4ecee;
}

@media screen and (max-width: 500px) {
    #editTitle, #editDescription {
        width: 100%;
    }

    #formContainer{
        width: 80%;
    }
}


#saveModal {
    background-color: #1ecdec;
    margin: 5px 0px;
}

#saveModal:hover {
    background-color: #26e2ad;
}

#closeModal {
    background-color: #A5121A;
    color: white;
    margin: 5px 0px;
}

#closeModal:hover {
    background-color: #810E14;
}

#icons {
    margin-left: 20px;
}

#icons img {
    cursor: pointer;
}

#icons img:hover {
    color: #0c5e15;
}